__pycache__/
*.py[cod]
/compare/FastChi2-1.03.tar.gz
/compare/FastChi2-1.03/
/compare/aovdist.tgz
/compare/aovdist/
/compare/.unpacked-*
/compare/build/
/compare/out/
/compare/__pycache__/
/compare/astropy/__pycache__/
/compare/tests/__pycache__/
/examples/8_Benchmark/FastChi2-1.03.tar.gz
/examples/8_Benchmark/FastChi2-1.03/
/examples/8_Benchmark/aovdist.tgz
/examples/8_Benchmark/aovdist/
/examples/8_Benchmark/.unpacked-*
/examples/8_Benchmark/build/
/examples/8_Benchmark/out/
/examples/8_Benchmark/phot/
/examples/8_Benchmark/index.tsv
/examples/8_Benchmark/*.tar.xz
